/* rest of app styles */

* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  /* margin-top: 20px;
  margin-bottom: 20px; */
}

.heading-box {
  width: 600px;
  display: table;
  margin: 0 auto;
}
.logo-box {
  display: inline-block;
  width: 150px;
  text-align: left;
}
.logo-box img {
  margin-top: 0;
  padding-top: 10px;
}

.heading-info-box {
  display: inline-block;
  font-size: 9px;
}
.heading-info-box {
  vertical-align: top;
  margin-top: 5px !important;
}

.logo {
  width: 60px;
  margin-top: 15px;
}

input[type="text"],
input[type="tel"],
select,
textarea,
input[type="number"] {
  padding: 6px 6px;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
  resize: vertical;
  display: inline-block;
  width: 400px;
  background-color: #f2f2f2;
}

input[type="submit"] {
  background-color: #d40324;
  color: white;
  padding: 6px 28px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 0;
  width: 1000px;
  display: table;
  margin: 0 auto;
}

form label {
  display: inline-block;
  width: 180px;
  font-size: 12px;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 10px;
}
.sub-container {
  display: table;
  margin: 0 auto;
}
.companyAddressBox {
  display: inline-block;
  width: 400px;
  font-size: 10px;
}
.separatingMargin {
  margin-top: 6px;
  margin-bottom: 6px;
}
.halfWidth {
  width: 198px !important;
  margin-right: 2px;
}
input,
select {
  outline: none;
}

.headingContainer {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  width: 1000px;
  display: table;
  margin: 6px auto;
}
.domain-name {
  font-size: 11px;
}

.oneThirdWidth {
  width: 130px !important;
  margin-right: 3px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.customer span {
  display: inline-block;
}
.billable-id {
  width: 120px !important;
}
.phone-number {
  width: 200px !important;
}
.plan-id {
  width: 120px !important;
}
.cirlce {
  width: 120px !important;
}
.first-name {
  width: 120px !important;
}
.last-name {
  width: 120px !important;
}
.email-id {
  width: 120px !important;
}
.customer input,
.customer span {
  margin-right: 3px;
  margin-left: 3px;
}
.customer-heading {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: bold;
}
.addNew {
  margin-top: 10px;
  padding: 6px 28px;
  background-color: blue;
  color: #fff;
  outline: none;
  border: none;
}
.submitBtn {
  display: table !important;
  margin: 6px auto !important;
}
