@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 100;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  /* margin-top: 20px;
  margin-bottom: 20px; */
}

.headingBox {
  width: 600px;
  display: table;
  margin: 0 auto;
}
.logoBox {
  display: inline-block;
  width: 150px;
  text-align: left;
}
.logoBox img {
  margin-top: 0;
  padding-top: 10px;
}

.headingInfoBox {
  display: inline-block;
  font-size: 9px;
}
.headingInfoBox {
  vertical-align: top;
  margin-top: 5px !important;
}

.logo {
  width: 60px;
  margin-top: 15px;
}

input[type="text"],
input[type="tel"],
select,
textarea,
input[type="number"],
input[type="password"] {
  padding: 6px 6px;
  border: 1px solid #ddd;
  border-radius: 0px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
  resize: vertical;
  display: inline-block;
  width: 400px;
  background-color: #f2f2f2;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 0;
  width: 1200px;
  display: table;
  margin: 0 auto;
}

form label {
  display: inline-block;
  width: 180px;
  font-size: 12px;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: bold;
}
.subContainer {
  display: table;
  margin: 0 auto;
}
.companyAddressBox {
  display: inline-block;
  width: 400px;
  font-size: 10px;
}
.separatingMargin {
  margin-top: 6px;
  margin-bottom: 6px;
}
.halfWidth {
  width: 199px !important;
  margin-right: 2px;
}
input,
select {
  outline: none;
}

.headingContainer {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  width: 1200px;
  display: table;
  margin: 6px auto;
}
.domainName {
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
}

.domain {
  width: 280px !important;
}

.oneThirdWidth {
  width: 131px !important;
  margin-right: 3px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.customer span {
  display: inline-block;
}
.billableId {
  width: 120px !important;
}
.phoneNumber {
  width: 150px !important;
}
.planId {
  width: 120px !important;
}
.cirlce {
  width: 120px !important;
}
.firstName {
  width: 120px !important;
}
.lastName {
  width: 120px !important;
}
.emailId {
  width: 147px !important;
}
.customer input,
.customer span {
  margin-right: 3px;
  margin-left: 3px;
}
.customerHeading {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: bold;
}
.addNew {
  margin-top: 10px;
  margin-right: 5px;
  padding: 6px 28px;
  border-radius: 3px;
  box-shadow: 1px 1px 15px hsla(0, 4%, 65%, 0.55);
  /* background-color: blue; */
  background: #e40000;
  color: #fff;
  outline: none;
  border: none;
}
.addNew:hover,
.submitBtn:hover,
.addButton:hover {
  background: #b30000;
}
.submitBtn {
  background-color: #e40000;
  color: white;
  padding: 7px 27px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 15px hsla(0, 4%, 65%, 0.55);
  cursor: pointer;
  font-size: 12px;
}
.addButton {
  background-color: #e40000;
  color: white;
  padding: 5px 28px;
  border-radius: 3px;
  box-shadow: 1px 1px 15px hsla(0, 4%, 65%, 0.55);
  border: none;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
  outline: none;
}
.customer input:first-child {
  margin-left: 0;
}
.inputDisabled {
  background-color: #ddd !important;
}
.mr0 {
  margin-right: 0;
}
.actionButtons {
  display: table !important;
  margin: 0 auto !important;
  margin-top: 30px !important;
}
.Toastify__toast--error {
  background-color: #e40000;
}
.fontAwesomeIcon {
  margin-right: 2px;
  margin-left: 2px;
}
.Toastify__toast-container * {
  font-size: 13px;
}
.Toastify__toast--success {
  background-color: #228c22;
}
.phoneNumberPrefix {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 11px;
}
.companyPhoneNumber {
  width: 172px !important;
}
.customerHeading .phoneNumber {
  margin-left: 22px;
}
.mr0imp {
  margin-right: 0 !important;
}
.pl0imp {
  padding-left: 0 !important;
}
.adminPhoneNumber {
  width: 171px !important;
}
.billableDomain {
  width: 250px !important;
}
